<!doctype html>
<html>
<head>{% load static %}
    <title>Online Meeting | {% block title %}{% endblock title %}</title>
  <meta charset="UTF-8">{% load static %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>{% load static %}
    <header class="text-gray-400 bg-gray-900 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
          <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" width="35" height="35">
              <!-- Background -->
              <rect width="100" height="100" fill="#2C3E50"/>
              
              <!-- Video Camera Icon -->
              <path d="M70 25h-40c-1.104 0-2 .896-2 2v36c0 1.104.896 2 2 2h40c1.104 0 2-.896 2-2v-36c0-1.104-.896-2-2-2zm-20 34h-2v-2h2v2zm8 0h-2v-2h2v2zm8-6h-4v-4h-8v4h-4v-16h16v16z" fill="#FFF"/>
              
              <!-- Call Icon -->
              <circle cx="50" cy="70" r="8" fill="#E74C3C"/>
              <path d="M50 64c-2.209 0-4 1.791-4 4s1.791 4 4 4 4-1.791 4-4-1.791-4-4-4z" fill="#FFF"/>
            </svg>
            <span class="ml-3 text-xl">Online Meeting</span>
          </a>
          <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-700	flex flex-wrap items-center text-base justify-center">
            {% comment %} <a class="mr-5 hover:text-white">First Link</a>
            <a class="mr-5 hover:text-white">Second Link</a>
            <a class="mr-5 hover:text-white">Third Link</a>
            <a class="mr-5 hover:text-white">Fourth Link</a> {% endcomment %}
          </nav>
          <button onclick="window.location.href='{% url "PortFolioApp" %}'" class="inline-flex items-center bg-gray-800 border-0 py-1 px-3 focus:outline-none hover:bg-gray-700 rounded text-base mt-4 md:mt-0">Go To Portfolio
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24" data-darkreader-inline-stroke="" style="--darkreader-inline-stroke: currentColor;">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </button>
        </div>
      </header>
      {% block body %}{% endblock body %}
</body>
</html>