{% load static %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join Room.</title>
    <!-- Include Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 h-screen flex justify-center items-center">
    <div class="max-w-md w-full bg-white p-8 rounded-md shadow-md">
        <h2 class="text-2xl font-semibold mb-4">Join Meeting.</h2>
        <form action="{% url 'join_room' %}" method="POST">{% csrf_token %}
            <div class="mb-4">
                <label for="username" class="block text-gray-700 text-sm font-bold mb-2">Meeting ID</label>
                <input type="text" id="username" name="roomID" placeholder="Enter Room ID" class="border border-gray-300 rounded-md py-2 px-3 w-full focus:outline-none focus:border-blue-400">
            </div>
            <center>
              {% if success %}
              <p style="color: green;"><b>{{ success }}</b></p>
              {% endif %}
              {% if error %}
              <p style="color: red;">{{ error }}</p>
              {% endif %}
            </center>
            <button type="submit" class="bg-blue-500 text-white rounded-md px-4 py-2 w-full hover:bg-blue-600 focus:outline-none focus:bg-blue-600">Join Meeting.</button>
        </form>
    </div>
</body>
</html>
