




  <!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Sign Up</title>
      <!-- Include Tailwind CSS -->
      <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  </head>
  <body class="bg-gray-100 h-screen flex justify-center items-center">
      <div class="max-w-md w-full bg-white p-8 rounded-md shadow-md">
          <h2 class="text-2xl font-semibold mb-4">Sign Up</h2>
          <form action="{% url 'register' %}" method="POST">{% csrf_token %}
              <div class="mb-4">
                  <label for="username" class="block text-gray-700 text-sm font-bold mb-2">First Name</label>
                  <input type="text" id="username" name="first_name" class="border border-gray-300 rounded-md py-2 px-3 w-full focus:outline-none focus:border-blue-400">
              </div>
              <div class="mb-4">
                <label for="username" class="block text-gray-700 text-sm font-bold mb-2">Last Name</label>
                <input type="text" id="username" name="last_name" class="border border-gray-300 rounded-md py-2 px-3 w-full focus:outline-none focus:border-blue-400">
            </div>
            
              <div class="mb-4">
                  <label for="email" class="block text-gray-700 text-sm font-bold mb-2">Email</label>
                  <input type="email" id="email" name="email" class="border border-gray-300 rounded-md py-2 px-3 w-full focus:outline-none focus:border-blue-400">
              </div>
              <div class="mb-6">
                  <label for="password" class="block text-gray-700 text-sm font-bold mb-2">Password</label>
                  <input type="password" id="password" name="password1" class="border border-gray-300 rounded-md py-2 px-3 w-full focus:outline-none focus:border-blue-400">
              </div>
              <div class="mb-6">
                <label for="password" class="block text-gray-700 text-sm font-bold mb-2">Confirm Password</label>
                <input type="password" id="password" name="password2" class="border border-gray-300 rounded-md py-2 px-3 w-full focus:outline-none focus:border-blue-400">
            </div>
            <center>
              {% if error %}
              <p style="color: red;">{{ error }}</p>
              {% endif %}
            </center>
              <button type="submit" class="bg-green-500 text-white rounded-md px-4 py-2 w-full hover:bg-green-600 focus:outline-none focus:bg-green-600">Sign Up</button>
          </form>
      </div>
  </body>
  </html>
  