<!DOCTYPE html>
<html lang="en">
<head>{% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    
    <link rel="stylesheet" href="{% static "assets/css/style.css" %}">
<title>Portfolio | {% block title %}{% endblock title %}</title>
    
</head>
<style>
    {% block css %}{% endblock css %}
</style>

<body>{% load static %}

    <nav>
        <div class="logo">
            <img src="{% static "assets/img.png" %}">
            <a href="/">Aniket Mokal</a>
        </div>
        <ul>
            <li><a href="#main">Home</a></li>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#about">About Me</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
            {% comment %} <li><a href="#feedback">Feedback</a></li>{% endcomment %}
            <li><a href="/feedback/">Rate Us</a></li>

        </ul>
        <button onclick="window.location='/contact/'">Contact Me</button>
        <button id="menuButton" onclick="openMenu()">
            <i class='bx bx-menu'></i>
        </button>
    </nav>

{% block body %}{% endblock body %}
    <footer>
        <div class="top">
            <div class="logo">
                <img src="{% static "assets/img.png" %}">
                <a href="/">Aniket Mokal</a>
            </div>
            <ul>
                <li><a href="/">Home</a></li>
                {% comment %} <li><a href="#">Blog</a></li> {% endcomment %}
                <li><a href="/contact/">Contact</a></li>
                <li><a href="https://www.youtube.com/channel/UCXn8-zDe4djt4Jpyu7bP92A" target="_blank">Youtube</a></li>
                <li><a href="#portfolio">Projects</a></li>
            </ul>
            <div class="social-links">
                <a href="https://www.facebook.com/aniket.mokal.1293" target="_blank"><i class='bx bxl-facebook'></i></a>
                <a href="https://www.instagram.com/mokal_2002/" target="_blank"><i class='bx bxl-instagram'></i></a>
                <a href="https://twitter.com/aniketmokal29" target="_blank"><i class='bx bxl-twitter'></i></a>
                <a href="https://www.linkedin.com/in/aniket-mokal-84346a220/" target="_blank"><i class='bx bxl-linkedin-square'></i></a>
            </div>
        </div>
        <div class="separator"></div>
        <div class="bottom">
            <p>
                Made With Mokal2002
            </p>
            <div class="links">
                <a href="#">Privacy Policy</a>
                <a href="#">Terms of Service</a>
                <a href="#">Cookies Setting</a>
            </div>
        </div>
    </footer>

    <script src="{% static "js/script.js" %}"></script>
    
    {% block js %}{% endblock js %}
</body>

</html>