{% extends 'base.html' %}
{% block title %}home{% endblock title %}
{% block css %}{% endblock css %}
{% block body %}
{% load static %}
<div class="main" id="main">
    <div class="left">
        <h5>Hey, I am Aniket Mokal</h5>
        <h3>I create <span>Django Website</span> and <span>Web Application.</span></h3>
        <p>
            Using Python Django Framework.
        </p>
        <button onclick="window.location='/contact/'">Get In Touch</button>
    </div>
    <div class="right">
        <img src="{% static "assets/header.png" %}">
    </div>
</div>
<div class="skills" id="skills">
    <h5>My Skills</h5>
    <h3>My Expertise</h3>
    <div class="skill-items">
        {% for i in skills %}
        <div class="item">
            <a href="{{i.link}}" target="_blank">
            <div class="icon info"><i class='bx {{i.logo}}'></i></div>
            <h4>{{i.name}}</h4>
            <p>
                {{i.description}}
            

            </p>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
<div class="about" id="about">
    <div class="left">
        <img src="{% static "assets/header.png" %}">
    </div>
    <div class="right">
        <h5>About</h5>
        <h3>About Me</h3>
        <p>
            Hello there! I'm Aniket Mokal, a seasoned professional in the world of programming, specializing in Java and Python Django. With a fervor for crafting elegant solutions, I bring 2 years of experience to the table.
        </p>
        <p>
            I'm always open to connecting with fellow enthusiasts, professionals, or anyone interested in the fascinating realm of software development. Feel free to <a href="/contact/">Contact</a> if you share similar interests or have exciting ideas to explore.
        </p>
    </div>
</div>
<div class="portfolio" id="portfolio">
    <div class="header">
        <div class="info">
            <h5>Recent Projects</h5>
            <h3>My Portfolio</h3>
        </div>
        <button onclick="window.open('https://www.youtube.com/channel/UCXn8-zDe4djt4Jpyu7bP92A')"><i class='bx bxl-youtube'></i> Visit My Youtube</button>
    </div>
    <div class="portfo-items">
{% for i in portfolio %}

        <div class="item">
            <img src="media/{{i.image}}">
            <div class="info">
                <h4>{{i.name}}</h4>
                <p>
                    {{i.description}}
                </p>
                <a href="{{i.link}}" target="_blank">Visit <i class='bx bx-link-external'></i></a>
            </div>
        </div>
    {% endfor %}
        
    </div>
</div>

{% comment %} <div class="feedback" id="feedback">
    <h5>Clients Reviews</h5>
    <h3>Customers Feedback</h3>
    <h2>Not Yet.</h2>


    <div class="customers">
        <div class="item">
            <div class="rating">
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
            </div>
            <p>
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum
                tristique. Duis cursus, mi quis viverra.
            </p>
            <div class="user">
                <img src="assets/us-1.jpg">
                <div class="info">
                    <h5>Dianne Russell</h5>
                    <p>Starbucks</p>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="rating">
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
            </div>
            <p>
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum
                tristique. Duis cursus, mi quis viverra.
            </p>
            <div class="user">
                <img src="assets/us-2.jpg">
                <div class="info">
                    <h5>Kristian Watson</h5>
                    <p>Louis Vuitton</p>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="rating">
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
            </div>
            <p>
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum
                tristique. Duis cursus, mi quis viverra.
            </p>
            <div class="user">
                <img src="assets/us-3.jpg">
                <div class="info">
                    <h5>Kathryn Murphy</h5>
                    <p>McDonald's</p>
                </div>
            </div>
        </div>
    </div>
</div> {% endcomment %}

{% endblock body %}